body {
  font-family: Arial, sans-serif;
  background-color: #c78cf7;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  color: #6b0606;
}

.calculadora {
  width: 314px;
  margin: 0 auto;
  background-color: #6563e4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(222, 229, 230);
}

#pantalla {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #6a35ce;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #e9e9e9;
}

input[type="button"]:last-child {
  margin-right: 0;
}
